@use'mixin';
*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
//reset-function
li,a{
    text-decoration: none;
    list-style-type: none;
    color: var(--font);
}
:root{
    --font:#fff;
    --background: rgb(255, 102, 0);
    --hover:rgb(0, 0, 0);
    
}

.header{
    border-bottom: 1px solid black;
    @include mixin.respond-to('extra'){
        .header{
            &-smart{
                display: none;
            }

        }
    }
    @include mixin.respond-to('small'){
        .header{
            &-menu{
                display: none;
            }
            &-smart{
                    @include mixin.flex-center;
                    width: 60px;
                    left: 40px;
                   cursor: pointer;
                   position: relative;
            &-menu{
                    display: none;
                    position: absolute;
                    top: 30px;
                    width: 60px;
                    left: -40px;
                    background-color: var(--background);
                    text-align:center;
                    padding: 15px 15px;
                    border-radius: 5px;
                    z-index: 1;
                    a{
                        &:hover{
                            color: var(--hover) !important;
                            transition:1s all ease ;
                            text-decoration: underline var(--hover);

                        }
                    }

               }
            }
        }
    }
    &-logo{
        a{
            color: var(--hover);
        }
        span{
            color: var(--font);
        }
    }
    &-navbar{
        justify-content: space-around;
        display: flex;
        background-color: var(--background);

    }
    &-menu{
        
        display: flex;
        padding: 11px 13px;
        a{
        margin-left: 1rem;
       
        transition: 1s ease all;
        font-size: 13pt;
        &:hover{
            color: var(--hover);
        }
       }
        #home a{
            color: var(--hover) !important;
            &:hover{
                color: var(--font) !important;
            }
        }
    }
}
.slider{
    @include mixin.home-page;
    @include mixin.flex-center;
    filter: blur(1px);

    img{
         overflow-x: hidden;

    }
}
.container{
    @include mixin.home-page;
    @include mixin.flex-center;

    &-images{
        H1{
            text-align: center;
        }
        width:200px;
        margin: 5pt;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 10px;
       img{
        width: 200px;

        }
    }
}